.c-ph-light,
.c-ph-light::placeholder {
  color: white;
  font-size: bold;
}
.c-ph-light-subtle,
.c-ph-light-subtle::placeholder {
  color: gray;
}
.c-fw-bold,
.c-fw-bold::placeholder,
.c-fw-bold:focus,
.c-fw-bold::placeholder,
.c-fw-bold:not(:focus) {
  font-weight: bold;
}

.c-text-input,
.c-text-input:focus,
.c-text-input:active {
  color: white;
  box-shadow: none;
  border: 0;
  padding: 0;
  background: transparent;
}
.c-date-input,
.c-date-input:active,
.c-date-input:focus {
  box-shadow: none;
}
